extends layout
head
  #{ "dev": { "name": "Stephen Burke" }}
block content
  h1= title
  p Let's go #{title}!

  - var developer = "Stephen Burke " + "created this website"
  p= developer
  
  - var out = dev.name() + "created this website"
  p= out
  
  

  
